{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'cookbook/style.css' %}">
    </head>
    <body>
        <h1>My recipe list</h1>
        <div class="recipe-list">
            {% for recipe in recipe_list %}
                <div class="recipe-list-item">
                    <img src={{ recipe.image.url }} class="recipe-image">
                    <a href="{% url 'cookbook:detail' recipe.id %}"><h2>{{ recipe.title }}</h2></a>
                    <p>Duration: {{ recipe.duration }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
