{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'cookbook/style.css' %}">
    </head>
    <body>
        <img src={{ recipe.image.url }} width="500px">
        <h1>{{ recipe.title }}</h1>
        <div class="recipe-details">
            <div class="recipe-ingredients">
                <h2>Ingredients</h2>
                <p>{{ recipe.ingredients | linebreaks }}</p>
            </div>

            <div class="recipe-description">
                <h2>Description</h2>
                <p>{{ recipe.description | linebreaks }}</p>
            </div>
        </div>

        <h2>Comments</h2>
        <p><a href="{% url 'cookbook:comment' recipe.id %}">Register a new comment</a></p>
        <hr />
        {% for comment in recipe.comment_set.all %}
            <p><b>Author: {{ comment.author }}</b></p>
            <p><i>Timestamp: {{ comment.pub_date }}</i></p>
            <p>{{ comment.comment }}</p>
            <hr />
        {% endfor %}

        <p><a href="{% url 'cookbook:index' %}">Back</a></p>
    </body>
</html>
